<!DOCTYPE html>
<html ng-app="tax">
    <head>
        <meta chaset="UTF-8">
        <title> Calc </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="bootstarp/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <script src="app.js"></script>
        <script src="mainController.js"></script>
    </head>
    
    <body>        
        <header>
            <nav class="navbar">   
                <ul class="nav nav-tabs">
                    <li class="col-sm-6"><a href="#"><h1>INTRA-DAY</h1></a></li>
                    <li class="col-sm-6"><a href="#"><h1>DELIVERY</h1></a></li>
                </ul>    
            </nav>
        </header>
        
        <div ng-controller="mainController">
            <form name="inputDetails">
                <div class="row">
                    <fieldset class="col-sm-offset-3 col-sm-2 form-group">
                        <label for="numberOfShares">No. of shares</label>
                        <input type="number" class="form-control" id="shares" placeholder="Shares" ng-model="shares">
                    </fieldset>
                    
                    <fieldset class="col-sm-offset-2 col-sm-2 form-group">
                        <label for="buyPrice">Buy Price</label>
                        <input type="number" class="form-control" id="costPrice" ng-model="costPerShare" placeholder="Cost Price Per Share">
                    </fieldset>
                </div>
                
                <div class="row">
                    <fieldset class="col-sm-offset-3 col-sm-2 form-group">
                        <label for="brokerage">Brokerage</label>
                        <input type="number" class="form-control" id="brokeragePercent" ng-model="brokeragePercentage" placeholder="Brokerage %">
                    </fieldset>
                    
                    <fieldset class="col-sm-offset-2 col-sm-2 form-group">
                        <label for="sellPrice">Sell Price</label>
                        <input type="number" class="form-control" id="sellingPrice" ng-model="sellPerShare" placeholder="Selling Price Per Share">
                    </fieldset>                    
                </div>
                
                <div class="row" style="min-height:15px;">
            </div>
                
                <div class="row" ng-init="exchangeRate=0.00325">
                    <label class="radio-inline col-sm-1 col-sm-offset-4">
                        <input type="radio" name="exchange" ng-model="exchangeRate" value=0.00325>NSE    
                    </label>
                    <label class="radio-inline col-sm-2" style="text-align:center">
                        <input type="radio" name="exchange" ng-model="exchangeRate" value=0.00275>BSE    
                    </label>
                    <label class="radio-inline col-sm-2">
                        <input type="radio" name="exchange" ng-model="exchangeRate" value=0.002>MCX-SX    
                    </label>
                </div>                
            </form>    
            
            
            <div class="row" style="min-height:50px;">
            </div>
            
            
            <div class="table-responsive col-sm-offset-3 col-sm-6">
                <table class="table table-hover table-bordered">
                    <tr>
                        <td class="col-sm-6">Turnover</td>
                        <td class="col-sm-6" ng-bind="turnover | number: 2"></td>
                    </tr>
                    <tr>
                        <td>Brokerage</td>
                        <td ng-bind="brokerage | number: 2"></td>
                    </tr>
                    <tr>
                        <td>Service Tax</td>
                        <td ng-bind="serviceTax | number: 2 "></td>
                    </tr>
                    <tr>
                        <td>STT</td>
                        <td ng-bind="stt | number: 2"></td>
                    </tr>
                    <tr>
                        <td>Stamp Duty</td>
                        <td ng-bind="stampDuty | number: 2"></td>
                    </tr>                    
                    <tr>
                        <td>Transaction Charges</td>
                        <td ng-bind="transactionCharges | number: 2"></td>
                    </tr>                    
                    <tr>
                        <td>SEBI Charges</td>
                        <td ng-bind="sebiCharges | number: 2"></td>
                    </tr>                                        
                    <tr ng-if="profit">
                        <td>PROFIT</td>
                        <td ng-bind="profitOrLoss | number: 2"></td>
                    </tr>                                        
                    <tr ng-if="!profit">
                        <td>LOSS</td>
                        <td ng-bind="profitOrLoss | number: 2"></td>
                    </tr>                                        
                </table>
            </div>
        </div>
            
        <footer>
            <p></p>
        </footer>
    </body>   
    
</html>