body {
    background-color: #a7b3a5;
    color: #fff;
}
.nav > li {
    text-align: center;
}

table tr td {
    text-align: center;
}

table {
    color: #000;
    background-color: #eee;
}

table tr:last-child {
    font-weight: bold;
}

.radio-style {
    font-weight: 600;
}

.nav li a h1 {
    color: black;
}

.nav>li.selected>a{
    background-color: beige;
}

.nav-tabs>li { 
 margin-bottom: 0;
} 

.nav-tabs>li>a:hover {
    border-color: transparent;
}

/*.btn-group {    
    margin-top: 30px;
    margin-bottom: 30px;
}

.dp-down {
    width: 100% !important;
}*/