<form name="inputDetails">
    <div class="row">
        <fieldset class="col-sm-offset-3 col-sm-2 form-group">
            <label for="numberOfShares">No. of shares</label>
            <input type="number" class="form-control" id="shares" placeholder="Shares" ng-model="intraCtrl.shares">
        </fieldset>

        <fieldset class="col-sm-offset-2 col-sm-2 form-group">
            <label for="buyPrice">Buy Price</label>
            <input type="number" class="form-control" id="costPrice" ng-model="intraCtrl.costPerShare" placeholder="Cost Price Per Share">
        </fieldset>
    </div>

    <div class="row">
        <fieldset class="col-sm-offset-3 col-sm-2 form-group">
            <label for="brokerage">Brokerage</label>
            <input type="number" class="form-control" id="brokeragePercent" ng-model="intraCtrl.brokeragePercentage" placeholder="Brokerage %">
        </fieldset>

        <fieldset class="col-sm-offset-2 col-sm-2 form-group">
            <label for="sellPrice">Sell Price</label>
            <input type="number" class="form-control" id="sellingPrice" ng-model="intraCtrl.sellPerShare" placeholder="Selling Price Per Share">
        </fieldset>
    </div>

    <div class="row" style="min-height:15px;">
    </div>

    <div class="row" ng-init="exchangeRate=0.00325">
        <label class="radio-inline col-sm-1 col-sm-offset-4">
            <input type="radio" name="exchange" ng-model="intraCtrl.exchangeRate" value=0.00325>NSE
        </label>
        <label class="radio-inline col-sm-2" style="text-align:center">
            <input type="radio" name="exchange" ng-model="intraCtrl.exchangeRate" value=0.00275>BSE
        </label>
        <label class="radio-inline col-sm-2">
            <input type="radio" name="exchange" ng-model="intraCtrl.exchangeRate" value=0.002>MCX-SX
        </label>
    </div>
</form>


<div class="row" style="min-height:50px;">
</div>


<div class="table-responsive col-sm-offset-3 col-sm-6">
    <table class="table table-hover table-bordered">
        <tr>
            <td class="col-sm-6">Turnover</td>
            <td class="col-sm-6" ng-bind="tintraCtrl.urnover | number: 2"></td>
        </tr>
        <tr>
            <td>Brokerage</td>
            <td ng-bind="intraCtrl.brokerage | number: 2"></td>
        </tr>
        <tr>
            <td>Service Tax</td>
            <td ng-bind="intraCtrl.serviceTax | number: 2 "></td>
        </tr>
        <tr>
            <td>STT</td>
            <td ng-bind="intraCtrl.stt | number: 2"></td>
        </tr>
        <tr>
            <td>Stamp Duty</td>
            <td ng-bind="intraCtrl.stampDuty | number: 2"></td>
        </tr>
        <tr>
            <td>Transaction Charges</td>
            <td ng-bind="intraCtrl.transactionCharges | number: 2"></td>
        </tr>
        <tr>
            <td>SEBI Charges</td>
            <td ng-bind="intraCtrl.sebiCharges | number: 2"></td>
        </tr>
        <tr ng-if="intraCtrl.profit">
            <td>PROFIT</td>
            <td ng-bind="intraCtrl.profitOrLoss | number: 2"></td>
        </tr>
        <tr ng-if="!intraCtrl.profit">
            <td>LOSS</td>
            <td ng-bind="intraCtrl.profitOrLoss | number: 2"></td>
        </tr>
    </table>
</div>
