<header>
    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li class="col-sm-6" ng-class="{'selected' : intra}"><a ng-click="setIntraday()"><h1>INTRA-DAY</h1></a></li>
            <li class="col-sm-6" ng-class="{'selected' : !intra}"><a ng-click="setDelivery()"><h1>DELIVERY</h1></a></li>
        </ul>
    </nav>
</header>

<form name="inputDetails">
    <div class="row">
        <fieldset class="col-sm-offset-3 col-sm-2 form-group">
            <label for="numberOfShares">No. of shares</label>
            <input type="number" class="form-control" id="shares" placeholder="Shares" ng-model="shares">
        </fieldset>

        <fieldset class="col-sm-offset-2 col-sm-2 form-group">
            <label for="buyPrice">Buy Price</label>
            <input type="number" class="form-control" id="costPrice" ng-model="costPerShare" placeholder="Cost Price Per Share">
        </fieldset>
    </div>

    <div class="row">
        <fieldset class="col-sm-offset-3 col-sm-2 form-group">
            <label for="brokerage">Brokerage</label>
            <input type="number" class="form-control" id="brokeragePercent" ng-model="brokeragePercentage" placeholder="Brokerage %">
        </fieldset>

        <fieldset class="col-sm-offset-2 col-sm-2 form-group">
            <label for="sellPrice">Sell Price</label>
            <input type="number" class="form-control" id="sellingPrice" ng-model="sellPerShare" placeholder="Selling Price Per Share">
        </fieldset>
    </div>

    <div class="row" style="min-height:15px;">
    </div>

    <div class="row" ng-init="exchangeRate=0.00325">
        <label class="radio-style radio-inline col-sm-1 col-sm-offset-3">
            <input type="radio" name="exchange" ng-model="exchangeRate" value=0.00325>NSE
        </label>
        <label class="radio-style radio-inline col-sm-1">
            <input type="radio" name="exchange" ng-model="exchangeRate" value=0.00275>BSE
        </label>
        <label class="radio-style radio-inline col-sm-2">
            <input type="radio" name="exchange" ng-model="exchangeRate" value=0.002>MCX-SX
        </label>

        <div class="btn-group col-sm-1" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                Button dropdown <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="(key,value) in states">
                    <a href>{{key}}</a>
                </li>
            </ul>    
        </div>
    </div>
</form>

<div class="row" style="min-height:50px;">
</div>


<div class="table-responsive col-xs-offset-3 col-xs-6">
    <table class="table table-striped table-bordered">
        <tr>
            <td class="col-sm-6">Turnover</td>
            <td class="col-sm-6" ng-bind="turnover | number: 2"></td>
        </tr>
        <tr>
            <td>Brokerage</td>
            <td ng-bind="brokerage | number: 2" placeholder=></td>
        </tr>
        <tr>
            <td>Service Tax</td>
            <td ng-bind="serviceTax | number: 2 "></td>
        </tr>
        <tr>
            <td>STT</td>
            <td ng-bind="stt | number: 2"></td>
        </tr>
        <tr>
            <td>Stamp Duty</td>
            <td ng-bind="stampDuty | number: 2"></td>
        </tr>
        <tr>
            <td>Transaction Charges</td>
            <td ng-bind="transactionCharges | number: 2"></td>
        </tr>
        <tr>
            <td>SEBI Charges</td>
            <td ng-bind="sebiCharges | number: 2"></td>
        </tr>
        <tr ng-if="profit" ng-class="{'alert-success' : profit != NaN}">
            <td>PROFIT</td>
            <td ng-bind="profitOrLoss | number: 2"></td>
        </tr>
        <tr ng-if="!profit" class="alert-danger">
            <td>LOSS</td>
            <td ng-bind="profitOrLoss | number: 2 | modFilter"></td>
        </tr>
    </table>
</div>
